.btn {
    box-shadow: 0 10px 40px 0 rgba(122, 129, 190, 0.16);
    background: #fe724c;
    border-radius: 28px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    &:disabled {
        background: rgba(254, 115, 76, 0.50);
    }
}